@import "~@fortawesome/fontawesome-free/css/all.min.css";

 body{
  margin:0;
  font-family: 'Open Sans', sans-serif;
}
.container{
  max-width: calc(0px);
  margin: auto;
  
}

Footer{
  position: absolute;
  background-color: #000000;
  padding: 0px 0;
  color:#fff;
 

  top: 97390;
  width: 100%
}

header{
  width: 30%;
  margin: auto;
  padding: 15px 0;
  position:absolute ;
  position: absolute;
  left:  590px;
  top: -30px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logo{
  width:850px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 850px;
 
}
.logo img{
  max-width: 4850px;
  height: 200px;
}

ul.nav-menu li{
  align-self: center;
  padding: 0 10px;
  margin-bottom: 0;
}
ul.nav-menu li a{
  color:aqua;
  text-decoration: none;
  font-weight: 500;
  line-height: 16px;
  border-radius: 30px;
  padding: 10px 12px;
  white-space: nowrap;
}
ul.nav-menu li a.active,
ul.nav-menu li a:hover{
  color: rgb(0, 0, 0);
  background-color: aqua;
}
ul.nav-menu{
  display: flex;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-left: 294px;
    padding-right: 74px;
    justify-self: flex-end;
    -webkit-box-pack: end;
    list-style: none;
    font-size: 1.2rem;
    
}
ul.nav-menus li{
  align-self: center;
  padding: 0 10px;
  margin-bottom: 0;
}
ul.nav-menus li a{
  color:aqua;
  text-decoration: none;
  font-weight: 500;
  line-height: 16px;
  border-radius: 30px;
  padding: 10px 12px;
  white-space: nowrap;
}
ul.nav-menus li a.active,
ul.nav-menus li a:hover{
  color: rgb(0, 0, 0);
  background-color: aqua;
}
ul.nav-menus{
  display: flex;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-left: 294px;
    padding-right: 74px;
    justify-self: flex-end;
    -webkit-box-pack: end;
    list-style: none;
    font-size: 1.2rem;
    
}
.hero{
  background-size: cover;
  width: 100%;
  height: 100vh;
  
}
.content{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
  }
  .content h1{
    color: aqua;
  
  font-size: 50px;
  margin-top: 80px;
  }
 

.button1{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid aqua;
  background: transparent;
  color:#fff;
  cursor:pointer;
  position:relative;
  overflow:hidden;

}


/* In your CSS file */
.button1 {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 12px 30px;
  border-radius: 25px;
  border: 2px solid aqua;
  background: transparent;
  background-color: none; /* Default button color */
  color: #f7f7f7; /* Text color */
  text-decoration: none;
  transition: background-color 1s ease;
}

.button1:hover {
  background-color: #00ffff; /* Aqua color */
}

.button1 span {
  display: block;
  position: relative;
  z-index: -1;
  border-radius:25px;
  transition: 1s;
}

.button1:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #00ffff; /* Aqua color */
  z-index: -1;
  transition: left 1s ease;
}

.button1:hover:before {
  left: 0;
  
}


/* navbar */






/* footer */

footer {
  min-height: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

/* ----------------------------------------------------------GetFunds styling-------------------------------------*/
.Campaign{
  text-align: center;
  
}

.Campaign .card{
  height:auto;
  position: center;
  display:flex;
  text-align: left;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
  width: 60%;
  margin: auto;
  box-shadow:#000;
  box-shadow: #000;
  margin-bottom: 2%;
}

.card .align-card{
  padding: 20px;
  width:100%;
  padding-bottom: 7%;
}

.nice-form-group{
  width: 85%;
  margin: 10px auto;
  padding: 20px;
  padding-bottom: 0;
}

.nice-form-group label h2{
  display: block;
  font-size: 1.1rem;
  font-weight: 600;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  margin: 0;
}

.nice-form-group label h2::before{
  content: "*";
  color:red;
  position: absolute;
  right: -13px;

}

.nice-form-group input{
  display: block;
  width:100%;
  /* margin: auto; */
  padding: 14px;
  /* opacity: 0.1; */
  /* color: black; */
  background-color: whitesmoke;
  border: 1px #000;
  border-radius: 7px;
  box-shadow: black;
}

.nice-form-group input::placeholder{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  vertical-align: middle;
}

.nice-form-group textarea{
  display: block;
  width:100%;
  /* margin: auto; */
  padding: 14px;
  /* opacity: 0.1; */
  /* color: black; */
  background-color: whitesmoke;
  border: 1px black;
  border-radius: 7px;
  box-shadow: 1px 2px 4px -1px black;
}

.proof{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.proof h3{
  font-size: 0.9rem;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 15px;
  padding-bottom: 5px;
}

.proof button{
  padding: 10px 20px;
  border-radius: 7px;
  border: white;
  outline: black;

  font-size: 0.8rem;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.proof button:hover{
  background-color: aqua;
  color:#000;
  transition: all 0.1s ease-in-out;
}



.bank-details input{
  margin: 15px 0;
}

.fundraiser
{
  width: 100%;
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 1.4rem;
  color: #000000;
  background:aqua;
  box-shadow: 0 4px 8px #01bfbd4d;
  border: none;
  opacity: 0.8;
  border-radius: 5px;
}

.fundraiser:focus{
  border: none;
  outline: none;
}

.fundraiser:hover{
  transform: scale(1.03);
  opacity: 1;
  transition: all 0.24s ease-in-out;
}
 /* Navbar.module.css */

.navbar {
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: #000;
}

.navMenus {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navMenus li {
  margin-left: 20px;
}

.userProfile {
  text-align: center;
  cursor: pointer;
}

.userProfile a,
.userProfile p {
  display: block;
  margin-bottom: 10px;
  color: #333;
  text-decoration: none;
}

.userProfile p {
  cursor: pointer;
  color: #f56a00;
  font-weight: bold;
}



/* navbar.css */
.navbar {
  display: flex;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: #000;
  padding: 30px 83.5px;
  height: 0px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid aqua;
  font-family: Arial, sans-serif;
}

.navbar .logo {
  text-decoration: none;
}

.navbar .logo img {
  width: 700px;
  height: 800px;
}

.navbar .nav-menus {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar .nav-menus li {
  margin-right: 16px;
}

.navbar .nav-menus li:last-child {
  margin-right: 0;
}

.navbar .nav-menus li a {
  text-decoration: none;
  color: #777777;
  font-weight: 600;
  padding: 10px 10px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.navbar .nav-menus li a:hover {
  background-color: aqua;
  color: blue;
}


.nameprofile{
  padding:40px 0;
}
.nameprofile .account--details p span{
  font-weight: bold;
}
.nameprofile .account--details{
  margin-bottom: 20px;
}

/*--------------- ----------------------Donate page styling-------------------------------------------*/

.campaign-list {
  display: wrap;
  
  align-items: center;
  padding: 20px;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.cards-container {
 display: grid;
    grid-template-columns: repeat(4,1fr);
    width:100%;
    column-gap: 20px;
    overflow: hidden;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
  margin-bottom: 15px;
  border-radius: 5px;


}


.button2{
  width: 100px;
  padding: 15px 0;

  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid aqua;
  background: transparent;
 
  cursor:pointer;
  position:center;
  overflow:hidden;

}

.button2 {
  display: inline-block;
  position: center;
  overflow: hidden;
  padding: 12px 30px;
  border-radius: 25px;
  border: 2px solid aqua;
  background: transparent;
  background-color: none; /* Default button color */
  color: #000000; /* Text color */

}

.button2:hover {
  background-color: #00ffff; /* Aqua color */
}



.button2:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
 

 
}

.button1:hover:before {
  left: 0;
  
}

/* index.css */

/* ... your existing styles ... */

/* Styling for the buttons */
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.buttons button {
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}


.buttons button:hover{
  transform: scale(1.03);
  opacity: 1;
  transition: all 0.24s ease-in-out;
}
/* Styling for the "Donate Now" button */
.buttons button.donate-button {
  background-color: #000;
  color: #fff;
}

.buttons button.donate-button:hover {
  background-color: #000;
}

.whyUs {
  padding: 8% 8% 2% 10%;
}

.header {
  padding-bottom: 3%;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 45px;
  font-weight: bolder;
}

.para {
  line-height: 2;
  font-size: 14px;
}

.image {
  border: 1.2vw solid rgba(21, 215, 180, 1);
  z-index: 1;
  width: 100%;
  image-rendering: pixelated;
}

@media only screen and (min-width: 1000px) {
  .image {
    height: 125%;
    position: relative;
    bottom: 20%;
    right: 10%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .image {
    height: 80%;
    position: relative;
    top: 20%;
    right: 10%;
  }
}

@media only screen and (max-width: 767px) {
  .image {
    margin: 5% 10% 5% 7%;
    max-width: 92%;
    max-height: 80%;
  }
}