@import "~@fortawesome/fontawesome-free/css/all.min.css";

 body{
  margin:0;
  font-family: 'Open Sans', sans-serif;
}
.container{
  max-width: calc(0px);
  margin: auto;
  
}

Footer{
  position: absolute;
  background-color: #000000;
  padding: 0px 0;
  color:#fff;
 

  top: 97390;
  width: 100%
}

header{
  width: 30%;
  margin: auto;
  padding: 15px 0;
  position:absolute ;
  position: absolute;
  left:  590px;
  top: -30px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav{
  width: 89%;
  margin: auto;
  padding: 55px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width:850px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: -650px;
 
}
.logo img{
  max-width: 4850px;
  height: 200px;
}
.user-avatar{
  display: flex;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-left: -3000px;
    padding-right: -674px;
    justify-self: flex-end;
    -webkit-box-pack: end;
    list-style: none;
    font-size: 1.2rem;
    
}
.user-avatar{
  align-self: center;
  padding: 0 10px;
  margin-bottom: 0;
}
.user-avatar a{
  color:aqua;
  text-decoration: none;
  font-weight: 500;
  line-height: 16px;
  border-radius: 30px;
  padding: 10px 12px;
  white-space: nowrap;
}
.user-avatar a.active,
.user-avatar a:hover{
  color: rgb(0, 0, 0);
  background-color: aqua;
}
ul.nav-menu li{
  align-self: center;
  padding: 0 10px;
  margin-bottom: 0;
}
ul.nav-menu li a{
  color:aqua;
  text-decoration: none;
  font-weight: 500;
  line-height: 16px;
  border-radius: 30px;
  padding: 10px 12px;
  white-space: nowrap;
}
ul.nav-menu li a.active,
ul.nav-menu li a:hover{
  color: rgb(0, 0, 0);
  background-color: aqua;
}
ul.nav-menu{
  display: flex;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-left: 294px;
    padding-right: 74px;
    justify-self: flex-end;
    -webkit-box-pack: end;
    list-style: none;
    font-size: 1.2rem;
    
}
ul.nav-menus li{
  align-self: center;
  padding: 0 10px;
  margin-bottom: 0;
}
ul.nav-menus li a{
  color:aqua;
  text-decoration: none;
  font-weight: 500;
  line-height: 16px;
  border-radius: 30px;
  padding: 10px 12px;
  white-space: nowrap;
}
ul.nav-menus li a.active,
ul.nav-menus li a:hover{
  color: rgb(0, 0, 0);
  background-color: aqua;
}
ul.nav-menus{
  display: flex;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-left: 294px;
    padding-right: 74px;
    justify-self: flex-end;
    -webkit-box-pack: end;
    list-style: none;
    font-size: 1.2rem;
    
}
.hero{
  background-size: cover;
  width: 100%;
  height: 100vh;
  
}
.content{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
  }
  .content h1{
    color: aqua;
  
  font-size: 50px;
  margin-top: 80px;
  }
  button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid aqua;
    background: transparent;
    color:#f7f7f7;
    cursor:pointer;
    position:relative;
    overflow:hidden;

}
span{
  background:aqua;
  height:100%;
  width:0;
  border-radius:25px;
  position:absolute;
  left:0;
  bottom:0;
  z-index:-1;
  transition:0.5s;

}
button:hover span{
  width: 100%;

}
button:hover{
  border:none;
}

.app--login{
  max-width: 100px;
  margin:0 auto;
}
.app--login input + div{
  color:red;
}


.button1{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid aqua;
  background: transparent;
  color:#fff;
  cursor:pointer;
  position:relative;
  overflow:hidden;

}
span{
background:aqua;
height:100%;
width:0;
border-radius:25px;
position:absolute;
left:0;
bottom:0;
z-index:-1;
transition:0.5s;

}
button:hover span{
width: 100%;

}
button:hover{
border:none;
}

/* In your CSS file */
.button1 {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 12px 30px;
  background-color: none; /* Default button color */
  color: #f7f7f7; /* Text color */
  text-decoration: none;
  transition: background-color 1s ease;
}

.button1:hover {
  background-color: #00ffff; /* Aqua color */
}

.button1 span {
  display: block;
  position: relative;
  z-index: -1;
  transition: 1s;
}

.button1:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #00ffff; /* Aqua color */
  z-index: -1;
  transition: left 1s ease;
}

.button1:hover:before {
  left: 0;
  
}


/* navbar */



/* hero */
.main-section{
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin: auto;
  box-shadow: 0 7px 14px -5px aqua;
  box-shadow: 2px 1px 22px -4px aqua;
  /* background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png"); */
}

.main-section .button-card{
  /* border:2px solid black; */
  height: auto;
  width: 60%;
  max-width: 320px;
  /* box-shadow: 1px 1px 2px 1px lightgray; */
  box-shadow: 0 7px 14px -5px aqua;
  outline: 2px solid aqua;
  cursor: pointer;
  background-color:whitesmoke;
}

.main-section .button-card h1{
  font-size:1.5rem;
  padding: 20px;
  margin: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  white-space: nowrap;
  /* color: white; */
}

.main-section .button-card:hover{
  /* border:2px solid black; */
 transform: scale(1.05);
 transition: transform 0.3s ease-in-out;
}

.nav-container{
  background: transparent;
}

.bg-light{
  background:transparent !important;
}

.navbar{
  box-shadow: none;
  position: relative;
  z-index: 99;
}

.navbar .router-link-exact-active {
  /* border-bottom: 3px solid #0066f9; */
  border-bottom: none;
}

.nav-item{
  height:41px;
}

.nav-item a:hover{
  border-bottom: 3px solid #0066f9;
}

.navbar-brand{
  margin-right:20px;
}


.company-name{
  font-size: 1.5rem;
  display: block;
  text-align: center;
  white-space: nowrap;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 12px;
}

.navbar-nav{
  margin: auto!important;
}

.nav-item a{
  margin: 0 10px!important;
}

.d-none{
  margin: 0!important;
}

/* content */

.content {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 10vh;
  align-items: center;
}

.content h2 {
  margin-bottom: 8vh;
}

.content .aboutus {
  font-size: x-large;
  width: 95%;
  text-align: justify;
}




/* footer */

footer {
  min-height: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

/* ----------------------------------------------------------GetFunds styling-------------------------------------*/

.Campaign .card{
  height:auto;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 60%;
  margin: auto;
  box-shadow:#000;
  box-shadow: #000;
  margin-bottom: 2%;
}

.card .align-card{
  padding: 20px;
  width:100%;
  padding-bottom: 7%;
}

.nice-form-group{
  width: 85%;
  margin: 10px auto;
  padding: 20px;
  padding-bottom: 0;
}

.nice-form-group label h2{
  display: block;
  font-size: 1.1rem;
  font-weight: 600;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  margin: 0;
}

.nice-form-group label h2::before{
  content: "*";
  color:red;
  position: absolute;
  right: -13px;

}

.nice-form-group input{
  display: block;
  width:100%;
  /* margin: auto; */
  padding: 14px;
  /* opacity: 0.1; */
  /* color: black; */
  background-color: whitesmoke;
  border: 1px #000;
  border-radius: 7px;
  box-shadow: aqua;
}

.nice-form-group input::placeholder{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  vertical-align: middle;
}

.nice-form-group textarea{
  display: block;
  width:100%;
  /* margin: auto; */
  padding: 14px;
  /* opacity: 0.1; */
  /* color: black; */
  background-color: whitesmoke;
  border: 1px aqua;
  border-radius: 7px;
  box-shadow: 1px 2px 4px -1px aqua;
}

.proof{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.proof h3{
  font-size: 0.9rem;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 15px;
  padding-bottom: 5px;
}

.proof button{
  padding: 10px 20px;
  border-radius: 7px;
  border: none;
  outline: none;
  background: whitesmoke;
  font-size: 0.8rem;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.proof button:hover{
  background-color: aqua;
  color:#000;
  transition: all 0.1s ease-in-out;
}

.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 30px;
}

.check-container p{
  font-size: 0.9rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  vertical-align: middle;
  display: contents;
}

/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  background-color: rgb(178, 178, 178);
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 8%;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
  background-color: rgba(173, 173, 173, 0.904);
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
  background-color: rgba(69, 69, 69, 0.838);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.bank-details input{
  margin: 15px 0;
}

.fundraiser
{
  width: 100%;
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 1.4rem;
  color: #000;
  background:aqua;
  box-shadow: 0 4px 8px #01bfbd4d;
  border: none;
  opacity: 0.8;
  border-radius: 5px;
}

.fundraiser:focus{
  border: none;
  outline: none;
}

.fundraiser:hover{
  transform: scale(1.03);
  opacity: 1;
  transition: all 0.24s ease-in-out;
}

/* --------------------------------------Donate someone you know section--------------------------------------- */

.donate-relative{
  padding: 20px;
  width: 100%;
  height: auto;
}

.form{
  width:80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 26px 0;
  position: relative;
}

.form input{
  width:70%;
  padding:10px 20px;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 10px;
  outline: none;
  border: none;
}

.form i{
  position:absolute;
  right:15%;
  padding-right:12px;
}

.details{
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:12px;
  padding-bottom: 10px;
}

.details input{
  width:36.5%;
}

.pay-details{
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  padding: 20px;
}

.currency{
  width: 26% !important;;
  border-radius: 10px 0 0 10px !important;
}

.amount{
  width: 50% !important;
  border-left: 1px solid black !important;
  border-radius: 0 10px 10px 0px !important;
}

.payment-options{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.payment-options .container1{
  width:100%;
  display: flex;
  justify-content: center;
}

.payment-options .container2{
  width:100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.align-container2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
}

.align-container2 span{
  display: block;
  margin: auto;
}
.container2 img{
  /* position: absolute; */
  height:50px;
  width:50px;
  /* margin: auto; */
  /* top: 25%;
  left: 27%; */
}


.make-payment{
  width:70%;
  display: block;
  margin: auto;
  padding: 15px 30px;
  background: linear-gradient(to right,rgb(85, 154, 177),rgb(79, 79, 210),rgb(33, 33, 181),rgb(6, 6, 163));
  color: white;
  font-size: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 10px;
  border:none;
  outline: none;
  border-radius: 20px;
}

.whatsapp{
  width:70%;
  display: block;
  margin: auto;
  padding: 15px 30px;
  background: #25D366;
  color: white;
  font-size: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 10px;
  border:none;
  outline: none;
  border-radius: 20px;
}

/* -------------------------------------------------------------------------------------------------------------- */


.message {
  text-align: center;
  /* Add other styles as needed */
}

.error {
  color: red; /* or any other color you prefer for error messages */
}
/* ContactUsPage.css */
.contact-us-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.contact-us-container h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.contact-us-description {
  font-size: 18px;
  margin-bottom: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

.submit-button {
  padding: 12px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.submit-button:hover {
  background-color: #0056b3;
 }
 /* Navbar.module.css */

.navbar {
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: #000;
}

.navMenus {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navMenus li {
  margin-left: 20px;
}

.userProfile {
  text-align: center;
  cursor: pointer;
}

.userProfile a,
.userProfile p {
  display: block;
  margin-bottom: 10px;
  color: #333;
  text-decoration: none;
}

.userProfile p {
  cursor: pointer;
  color: #f56a00;
  font-weight: bold;
}



/* navbar.css */
.navbar {
  display: flex;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: #000;
  padding: 30px 120px;
  height: 0px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid aqua;
  font-family: Arial, sans-serif;
}

.navbar .logo {
  text-decoration: none;
}

.navbar .logo img {
  width: 700px;
  height: 800px;
}

.navbar .nav-menus {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar .nav-menus li {
  margin-right: 16px;
}

.navbar .nav-menus li:last-child {
  margin-right: 0;
}

.navbar .nav-menus li a {
  text-decoration: none;
  color: #777777;
  font-weight: 600;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.navbar .nav-menus li a:hover {
  background-color: aqua;
  color: #ffffff;
}
